//import ./framework
@import "./framework";

* {
    //smoth scroll
    scroll-behavior: smooth;
}

.vraag {
    //lightblue
    border: 1px solid #0366d6;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: rgba(3, 102, 214, 0.20);
    color: #0366d6;
    width: fit-content;
}

.vraag::before {
    content: "?";
    color: #0366d6;
    margin-left: -18px;
    border: 2px solid #0366d6;
    padding: 1px 7px;
    background-color: #fff;
    border-radius: 50%;
    font-weight: bold;
}

.weetje {
    //lightgreen
    border: 1px solid #28a745;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: rgba(40, 167, 70, 0.20);
    width: fit-content;
    color: #28a745;
}

.weetje::before {
    content: "!";
    color: #28a745;
    font-weight: bold;
    margin-left: -18px;
    border: 2px solid #28a745;
    padding: 1px 8px;
    background-color: #fff;
    border-radius: 50%;
}

code {
    width: fit-content;
    display: block;
    color: #fff;
    background-color: #24292e !important;
    padding: 7px;
    font-size: 16px;
}

//de bash klasse werkt samen met de JS file /js/util.js
.bash::before {
    content: "$";
    color: #fff;
    margin-left: 0px;
}